.PhoneConfirmContainer {
  position: relative;
  height: 100vh;
  padding: 3em 1.7em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #f2f0e4;
}

.PhoneConfirmContainer h1 {
  margin-bottom: 0;
  font-size: 1.3em;
  font-weight: 500;
  font-style: normal;
  color: var(--textColor);
}

.PhoneConfirmContainer p {
  margin: 0;
  width: 100%;
  max-width: 270px;
  text-align: center;
  justify-content: space-evenly;
  font-size: 0.775em;
  font-weight: 400;
  font-style: normal;
}

.PhoneConfirmContainer p span {
  font-weight: 500;
}

.BackButton {
  position: absolute;
  top: 10px;
  left: 10px;
}

.BackButton img {
  width: 20px;
}
