:root {
  --textColor: rgb(65, 64, 66);
  --btnBgColor: #3287b7;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-size: 1em;
  font-family: 'Neutrif Pro', sans-serif;
}

button {
  outline: none !important;
}

a {
  text-decoration: none !important;
}

.primaryButton {
  padding: 0.5em 1.5em;
  text-align: center;
  background-color: var(--btnBgColor);
  color: #fff;
  border-radius: 2em;
  font-size: 1.2em;
  font-weight: 500;
  font-style: normal;
}

.app_layout {
  position: relative;
  width: 100%;
  max-width: 500px;
  height: 100vh;
  margin: auto;
  background-color: #f2f0e4;
}
